.GCodeEditor {
	grid-area: editor;
	height: 100%;
	overflow-y: scroll;
	padding: 1rem;
	background: lch(9% 0 270 / 1);
	color: lch(80% 0 0);
	counter-reset: section;
	font-family: monospace;
	line-height: 1.2rem;
	scrollbar-color: dark;
}

.GCodeEditor::-webkit-scrollbar {
	width: 1rem;
	background-color: lch(25% 0 270 / 1);
}

/* Add a thumb */
.GCodeEditor::-webkit-scrollbar-thumb {
	background: lch(14% 0 270 / 1);
	border-radius: .5rem;
}

.GCodeEditor .addLine {
	display: inline-flex;
	gap: .5rem;
	padding: .2rem .8rem .2rem .2rem;
	margin-top: .1rem;
	margin-left: calc(4ch + 1rem);
	border-radius: .2rem;
	transition: .2s;
	line-height: 1rem;
}
.GCodeEditor .addLine:hover {
	background: lch(35% 50 270 / .3);
}
.GCodeEditor .addLine div{
	background-color: lch(35% 50 270 / 1);
	width: 1rem;
	border-radius: 50%;
	text-align: center;
}

.GCodeEditor .newLine {
	display: flex;
	gap: .5rem;
	margin-left: calc(4ch + 1rem);
	padding: .15rem 0;
}

.GCodeEditor .newLine div{
	color: lch(30% 0 0);
	border: 1px solid currentColor;
	width: 1.4rem;
	border-radius: 50%;
	text-align: center;
	transition: .2s;
}
.GCodeEditor .newLine div:hover{
	color: lch(70% 0 0);
}

.GCodeEditor .newLine input{
	appearance: none;
	border: none;
	background: lch(35% 50 270 / .3);
	color: lch(80% 0 0);
	font-family: monospace;
	padding: 0 .4rem;
	border-radius: .2rem;
	margin: 0;
}

.GCodeLine {
	display: flex;
	padding: .15rem 0;
	min-height: 1.2rem;
	gap: 1rem;
}
.GCodeLine.noCode {
	text-indent: calc(4ch + 1rem);
	padding: 0;
}
.GCodeLine:not(.noCode):before {
	counter-increment: section;
	content: counter(section);
	color: lch(30% 0 0);
	text-align: right;
	width: 4ch;
}

.GCode {
	display: flex;
	gap: .6rem;
	--color: lch(30% 0 0);
}
.command {
	background-color: var(--color);
	padding: 0 .4rem;
	border-radius: .2rem;
}

.GCodeArg .type {
	font-size: .5rem;
	margin-right: .2rem
}
.GCodeArg .value {
	font-size: .6rem;
}

.GCode-G-command {
	--color: lch(45% 50 30);
}

.GCode-M-command {
	--color: lch(45% 50 130);
}

.GCodeLine .comment {
	color: lch(50% 0 0);
	white-space: pre-wrap;
}

.GCode-G0 {
	--color: lch(35% 50 30);
}

.GCode-G1 {
	--color: lch(55% 50 100);
}

.GCode-G2, .GCode-G3 {
	--color: lch(40% 50 240);
}
