.App {
	width:100vw;
	height:100vh;
	display: grid;
	grid-template:
        'editor viewer' 5fr
        'settings viewer' max-content
		/ max-content 3fr;
}
.App > * {
	height: 100%;
}

* {
	box-sizing: border-box;
}
