.App {
	width:100vw;
	height:100vh;
	display: grid;
	grid-template:
		'editor viewer' auto
		'settings viewer' max-content
		/ max-content auto;

	--graph-template:
		'viewer viewer' calc(100vh - 20rem)
		'settings graph' 20rem
		/ max-content auto;
}
.App > * {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.graph {
	grid-area: graph;
}
